html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-anchor: none;
  font-family: 'Chelsea Market', cursive;
  background: linear-gradient(#00d4ff, #0477C2, #090976, #020024);
}

body {
  display: flex;
}

/* ======================================================
   Asides
   ====================================================== */
h1 {
  font-size: 3vw;
}

.player {
  text-align: center;
  width: 25vw;
}

.player__wins {
  margin: 0;
}

.player__image {
  position: relative;
  width: 8vw;
  margin-top: 3vw;
}

/* ======================================================
   Central Game Display
   ====================================================== */

/* Central game column */

.game {
   margin-top: -3vh;
   padding: 0;
   height: 105vh;
   width: 50vw;
   background: white;
   text-align: center;
}

/* Top display */

.game__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
  font-size: 3vw;
}

.game__header--win {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2vh;
}

.game__image {
  position: relative;
  width: 10vw;
  margin: 0px;
}


/* Game Board */

.game__board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 8px;
  width: 90%;
  height: 60vh;
  min-height: 400px;
  margin: 6vh auto;
  background: linear-gradient(#233656, #70B9AC, #E87A4C, #B99496);
}

.game__board--square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: none;
  background-color: white;
}

.game__board--square:focus,
.game__clear-btn,
.game__btn--computer {
  outline: none;
}

.game__board--square-image {
  position: relative;
  width: 65%;
  margin: 0;
}

.game__btn,
.game__btn--computer {
  width: 35%;
  height: 3%;
  font-family: 'Chelsea Market', cursive;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  background: #0477C2;
}

.game__btn--computer {
  width: auto;
  background: #B99496;
}

.game__btn:active,
.game__btn--computer:active {
  margin: 1px 0 0 1px;
  box-shadow: inset 2px 2px 5px #020024;
}


.hidden {
  display: none;
}

/* The starfish svg I found is off center so these classes were added to adjust
 the display. */
.starfish {
  top: 5px;
  left: 20px;
}

/* ======================================================
   Winner Animation
   ====================================================== */
@keyframes dance {
  10% {
    transform: translate(0, -20px);
  }

  20% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(0, -30px) rotate(0deg);
  }

  40% {
    transform: translate(0, -30px) rotate(180);
  }

  50% {
    transform: translate(0, -30px) rotate(360deg);
  }

  60% {
    transform: translate(0, 0) rotate(360deg);
  }

  70% {
    transform: translate(0, -20px) rotate(360deg);
  }

  80% {
    transform: translate(0, 0) rotate(180deg);
  }

  90% {
    transform: translate(0, -40px;) rotate(360deg);
  }

  100% {
    transform: translate(0, -40px) rotate(720deg);
  }
}

.dance {
  animation: dance 2s;
}
