html {
  font-family: 'Chelsea Market', cursive;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(#00d4ff, #0477C2, #090976, #020024);
}

body {
  display: flex;
}

/* --------Asides-------- */
h1 {
  font-size: 4vw;
}

.turn-image,
.winner-image {
  position: relative;
  margin: 0px;
  width: 10vw;
}

.player-1,
.player-2 {
  width: 25vw;
  text-align: center;
}

.player-1-wins,
.player-2-wins {
  margin: 0;
}

.player-img {
  position: relative;
  width: 10vw;
  margin-top: 5vw;
}

/* --------Center Game Display-------- */
.turn-display,
.winner-display {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
}

.game-display {
  margin: -2vh 0 0 0;
  padding: 0;
  text-align: center;
  width: 50vw;
  background: white;
  height: 105vh;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 8px;
  margin: 10vh auto;
  width: 90%;
  height: 50vh;
  min-height: 400px;
  background: linear-gradient(#233656, #70B9AC, #E87A4C, #B99496);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: none;
  background-color: white;
}

.square:focus {
  outline: none;
}

.board-img {
  position: relative;
  margin: 0;
  width: 65%;
  height: 80%
}

.hidden {
  display: none;
}

/* The starfish svg was off center so these classes were added to adjust the board display and winner display */
.starfish {
  top: 5px;
  left: 20px;
}

.winner {
  top: 20px;
  width: 125px;
  height: 100px;
}

/* --------Winner Animations-------- */
@keyframes shake {
  0% { transform: translate(5px, 5px) rotate(0deg); }
  10% { transform: translate(-5px, -10px) rotate(-20deg); }
  20% { transform: translate(-15px, 0px) rotate(20deg); }
  30% { transform: translate(15px, 10px) rotate(0deg); }
  40% { transform: translate(5px, -5px) rotate(20deg); }
  50% { transform: translate(-5px, 10px) rotate(-20deg); }
  60% { transform: translate(-15px, 5px) rotate(0deg); }
  70% { transform: translate(15px, 5px) rotate(-20deg); }
  80% { transform: translate(-5px, -5px) rotate(20deg); }
  90% { transform: translate(5px, 10px) rotate(0deg); }
  100% { transform: translate(5px, -10px) rotate(-20deg); }
}

.shake {
  animation: shake 2s;
  @-webkit-keyframes: shake 2s;
  @-moz-keyframes: shake 2s;
  @-o-keyframes: shake 2s;
}
